.faq {
    text-align: center;

    .accordion-container {
        width: Min(550px, 100%);
        margin: 0 auto;
        position: relative;

        .accordion {
            padding: 1rem 1rem 1rem 0;
            text-align: left;
            width: 100%;
            border-bottom: 1px solid $grayishBlue;
            cursor: pointer;

            @include mediaQuery(tablet) {
                font-size: 1rem;
            }

            &:hover {
                color: $softRed;
            }

            svg {
                float: right;
                transition: .2s ease;
            }

            &[aria-expanded=true] {
                border-bottom: none;

                svg {
                    transform: rotate(180deg);
            
                    path {
                        stroke: $softRed;
                    }
                }
            }
        }

        .accordion-content {
            text-align: left;
            font-size: .8rem;
            height: 0;
            transition: .2s ease;
            overflow: hidden;

            &.active {
                border-bottom: 1px solid $grayishBlue;
            }
        }
    }  
    
    .primary-btn {
        margin: 2rem 0;
        position: relative;
    }
}